.container{
    display: flex;
    justify-content: center;
    color: red;
}
body{
    background-color: black;
    color: white;
}
.animeCards{
    width: 50%;
}
.Card{
    display: flex;
    justify-content: center;
    align-items: center;
}
